@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "微软雅黑";
  background: #eaeaeae;
}

html, body {
  width: 100%;
  height: 100%;
  background: #eaeaeae;
}

.sw4 {
  width: 100%;
}
.sw4 img {
  width: 100%;
}
.sw4 .swiper-pagination-bullet {
  background: url(../../img/production/circle.png) no-repeat -26px 0;
  width: 8px;
  height: 8px;
  box-sizing: content-box;
  opacity: 1;
  margin: 5px 9px !important;
}
.sw4 .swiper-pagination-bullet-active {
  background: white;
}
.sw4 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 9px !important;
}
.sw4 .swiper-pagination {
  bottom: 0 !important;
}

.ev-1 {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 45px;
}
.ev-1 h2 {
  text-align: center;
  padding: 70px 0 40px;
  font-size: 36px;
  color: #333;
}
.ev-1 .ev1-container .top {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.ev-1 .ev1-container .top div:first-child {
  width: 660px;
  height: 380px;
}
.ev-1 .ev1-container .top div:last-child {
  width: 320px;
  height: 380px;
}
.ev-1 .ev1-container .bottom ul {
  display: flex;
  justify-content: space-between;
}
.ev-1 .ev1-container .bottom ul li {
  list-style: none;
}

.ev-2 {
  background: #eaeaea;
  padding-top: 40px;
}
.ev-2 h1 {
  font-size: 36px;
  padding-top: 30px;
  text-align: center;
  margin: 0;
}
.ev-2 h2 {
  font-size: 18px;
  color: #666;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}
.ev-2 h2:hover {
  color: #039ae3;
}
.ev-2 ul {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ev-2 ul li {
  list-style: none;
  width: 320px;
  margin-bottom: 20px;
}
.ev-2 ul li div {
  width: 100%;
  box-shadow: 1px 1px 2px #ccc;
  border-radius: 0 0 5px 5px;
}
.ev-2 ul li div .img {
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.ev-2 ul li div .img img {
  width: 100%;
  transition: all 0.3s;
}
.ev-2 ul li div .img:hover > img {
  transform: scale(1.2);
}
.ev-2 ul li div div {
  background: white;
  padding: 12px 10px;
}
.ev-2 ul li div div h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 300px;
  font-size: 22px;
  text-align: center;
}
.ev-2 ul li div div p {
  font-size: 14px;
  color: #666;
  text-align: left;
  width: 300px;
  display: inline-block;
  margin-top: 10px;
}

.pro-footer {
  background: white;
  height: 90px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.pro-footer .footer-container {
  width: 1000px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
}
.pro-footer .footer-container .container-left ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.pro-footer .footer-container .container-left ul li {
  list-style: none;
  padding: 0 14px;
  font-size: 14px;
  color: #444;
  border-right: 1px solid #ccc;
}
.pro-footer .footer-container .container-left ul li:last-child {
  border: none;
}
.pro-footer .footer-container .container-right p {
  text-align: right;
  color: #666;
  font-size: 14px;
  margin: 0;
  line-height: 1em;
}
.pro-footer .footer-container .container-right p a {
  margin-top: 10px;
  color: #666;
  display: inline-block;
}

/*# sourceMappingURL=event.css.map */
